<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="test/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToEsceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false">
	
	<testsuites>
		<testsuite name="App Tests">
			<directory>./test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./src</directory>					
		</whitelist>
	</filter>
</phpunit>
